.HomePage{
    height: 100vh;
    weight: 100vw;
}
.ad{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-content{
    background-color: red;
    width: 80%;
    height: 80%;
}